html {
    scroll-behavior: smooth;
}

body {
    /* min-width: 1200px; */
   /* padding-right: -500px; */
}


.wrap {
    overflow: hidden;
}

/* header */

.rogo {
 position: absolute;
 top: 0px;
 left: 100px;
 z-index: 10;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
}

.snsmenu {
    background-color: #373C38;
    height: 60px;
    width: 100%;
} 

.snsmenu ul {
    display: flex;
    text-align: center;
    position: relative;
    top: 0px;
    left: 600px;
}

.snsmenu li {
    color: white;
    padding: 15px;
    margin-right: 10px;
    border-right: solid 1px;
    display: inline-block;
}

.snsmenu li:nth-child(3) {
    margin-right: 100px;
}

.snsmenu i {
    padding: 5px;
}


.menubar {
    background-color: black;
    height: 60px;
    width: 100%;
}

.menubar ul {
    display: flex;
    text-align: center;
    padding-right: 10px;
    position: relative;
    left: 600px;
}

.menubar li {
    color: white;
    padding: 20px;
}

.menubar li:nth-child(4) {
    margin-right: 100px;
}

/* 非表示にする */
.none {
    /* z-index: -5; */
    opacity: 0;
}

#humberger {
    /* z-index: -5; */
    opacity: 0;
}

/* ハンバーガーメニュー */



.open {
    height: 1000px;
    width: 100%;
    background-color: black;
    display: none;
    text-align: center;
}

.open ul {
    padding: 30px;
}

.open li {
    color: white;
    padding: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rule {
    display: none;
}

.kekka {
    display: none;
}

.ofline {
    display: none;
}

/* main */

main {
    height: 1800px;
    width: 100%;
    background-image: url(../img/gametex.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: 3px 3px 0 black;
    padding: 30px;
    position: absolute;
    top: 200px;
}

.btn {
    position: absolute;
    top: 350px;
}

.btn ul {
    height: 50px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   border-radius: 5px;
}


.btn li {
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',;
    width: 340px;
    height: 40px;
    font-size: 22px;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #373C38;
    padding-top: 20px;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    }


.btn li:nth-child(1){
    border-left: solid 2px white;
    border-right: dotted 2px gray;
} 

.btn li:nth-child(3){
    border-right: solid 2px white;
    border-left: dotted 2px gray;
} 

.btn li:hover {
    color: black;
    text-shadow: 1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white;
    background-color: limegreen;
    border:solid 5px white;
    border-radius: 5px;
    z-index: 2;
    
} 



.contens {
    position: absolute;
    top: 500px;
    height: auto;
    width: 100%;
    background-color:  rgb(255, 255, 255, 0.7);
    transform: skewX(-5deg); 
    transform: skewY(-5deg); 
}

h2 {
    font-size: 40px;
    color: #fce477;
    text-align: center;
    margin: 30px;
    text-shadow: 3px 3px 0 black;
}

.top {
  color: white; 
  position: fixed;
  bottom: 100px;
  right: 100px;
  transition-duration:3s;
}

.top a {
    transition-duration:1s;  
}

.cards {
    display: flex;
    justify-content: center;
    transform: skewX(5deg); 
    transform: skewY(5deg); 
}

.card {
    height: 500px;
    width: 300px;
    margin: 40px;
}

.card img{
    height: 300px;
    width: 300px;
    border: 7px solid black;
    border-radius: 5px;

}

.card p {
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

.best {
    transform: skewX(5deg); 
    transform: skewY(5deg); 
}

h3 {
    font-size: 40px;
    margin: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 5px solid black;
    display: inline-block;
    text-align: center;
}

.besttitle {
    text-align: center;
}

.bestplayer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seki {
    width: 300px;
    display: inline-block;
    font-size: 30px;
    margin: 40px;
    border-top: 4px solid gray;
}

.seki p {
    margin: 30px;
    text-align: center;
}

.seki:nth-child(n+3) {
    margin-top: -40px;
}

.seki:nth-last-child(-n+2) {
    border-bottom: 4px solid gray;
    margin-bottom: 40px;
}



/* footer */

.end {
    height: 400px;
    width: 100%;
    background-color: black;
    display: flex;
}

.end p {
    font-size: 18px;
    color: white;
    position: relative;
    top: 100px;
    left: 200px;
} 

.fourbtn {
    height: 220px;
    width: 530px;
    position: relative;
    top: 50px;
    left: 400px;
}

.fourbtn ul {
    display: flex;
    /* justify-content: center; */
}

.fourbtn li {
    width: 110px;
    color: white;
    padding: 15px;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
}

.btn-list div {
    height: 50px;
    width: 100px;
    background-color: white;
}

.copyright{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-top: solid white 1px;
}

.copyright p{
    color: white;
    margin: 40px;
    padding: 0 40px 0 40px;
}


/* レスポンシブ iphone*/
@media screen and (max-width:500px) { 

body {
   width: 500px;
   padding-right: -800px;
}

.wrap {
    width: 500px;
    overflow: hidden;
}

body {
    max-width: 500px;
}


.menu {
    height: 25px;;
}

main {
    overflow: hidden;
    width: 500px;
}

.menu ul{
    height: 25px;
    position: relative;
    left: 100px;
}

.menubar li{
    font-size: 12px;
    position: relative;
    left: 70px;
}

.midlenone {
    display: none;
}
   
.snsmenu {
    width: 100%;
    height: 35px;
    right: 40px;
}

.snsmenu li {
    font-size: 10px;
    position: relative;
    left: 20px;
}

.rogo img {
    height: 60px;
    position: relative;
    top: 0px;
    right: 90px;
}

.btn {
    width: 500px;
    height: 80px;
}

.btn li:hover {
    height: 50px;
}

.none {
    opacity: 1;
}

#humberger {
  opacity: 1;
}

/*  main */

.top {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.seki:nth-child(1) {
    margin-bottom: -40px;
}

.seki:last-child {
    border-top: 0px solid gray;
}

.open ul{
    height: 130px;
    margin-left: -200px;
}

.ofline li{
    padding-top: 40px;
}


/* footer */
.end {
    height: 1400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.end p {
    position: relative;
    top: 950px;
    left: 40px;
}

.fourbtn {
    position: relative;
    top: 1000px;
    left: 90px;
}

.copyright {
    width: 500px;
}

footer {
    width: 500px;
}

}

/* タブレット */
@media screen and (min-width:510px) and (max-width:760px){


main {
    overflow: hidden;
    width: 100%;
    height: 2700px;
}

.wrap {
    overflow: hidden;
}



.menu {
    height: 25px;;
}

.menu ul{
    height: 25px;
    position: relative;
    left: 200px;
}

.menubar ul{
    height: 50px;

}

.menubar li{
    font-size: 12px;
    position: relative;
    left: 70px;
}
   
.snsmenu {
    height: 35px;
}

.snsmenu li {
    font-size: 10px;
    position: relative;
    left: 70px;
}

.rogo img {
    height: 70px;
    width: 130px;
    position: absolute;
    top: 10px;
    left: 0px; 
}

.btn {
    width: 600px;
}

.btn li:hover {
    height: 50px;
}

/* 非表示にする */
.midlenone {
    display: none;
}

#add {
    display: none;
}

/* メニューバーの文字表示にする */
.none {
    opacity: 1;
}

#humberger {
    opacity: 1;
}

.contens {
    width: 100%;
}

.open ul{
    height: 130px;
    margin-left: -350px;
}

.ofline li{
    padding-top: 40px;
}



h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
}
  

.cards {
    display: flex;
    flex-wrap: wrap;
}

.seki:nth-child(n + 2) {
    margin-top: -40px;
}

.seki:last-child {
    border-top: 0px solid gray;
}

.top {
    display: none;
}

/* footer */

.end {
    height: 700px;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.fourbtn {
    position: relative;
    top: 150px;
    left: 250px;
}

.copyright {
    width: 100%;
}

}

@media screen and (min-width:1138px) {

.seki:nth-child(n+3) {
    margin-top: 40px;
}

.seki:nth-last-child(-n+2) {
    border-bottom: 0px solid gray;
}

}